<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../public/css/styles.css" />

    <!-- =====BOX ICONS===== -->
    <link
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
      rel="stylesheet"
    />
    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <title>Kaushal Marble</title>
  </head>
  <body>
    <!--===== HEADER =====-->
    <header class="l-header">
      <nav class="nav bd-grid">
        <div>
          <img src="../public/img/logo.png" class="nav__logo" />
        </div>

        <div class="nav__menu" id="nav-menu">
          <ul class="nav__list">
            <li class="nav__item">
              <a href="#home" class="nav__link active">Home</a>
            </li>
            <li class="nav__item">
              <a href="#about" class="nav__link">About</a>
            </li>
            <li class="nav__item">
              <a href="#products" class="nav__link">Products</a>
            </li>
            <li class="nav__item">
              <a href="#portfolio" class="nav__link">Portfolio</a>
            </li>
            <li class="nav__item">
              <a href="#contact" class="nav__link">Contact</a>
            </li>
          </ul>
        </div>

        <div class="nav__toggle" id="nav-toggle">
          <i class="bx bx-menu"></i>
        </div>
      </nav>
    </header>

    <main class="l-main">
      <!--===== HOME =====-->
      <section class="home bd-grid" id="home">
        <div class="row">
          <div class="col-sm-6" style=" padding-top: 200px;">
            <h1 class="home__title">
              Captivating Style <br />
              <span class="home__title-color">In Every Stone</span>
            </h1>
  
            <a href="#" class="button lets__start">Lets start!</a>
          </div>
          <div class="col-sm-6">
            <div class="home__img">
              <img src="../public/img/KMHero.gif" alt="" />
            </div>
          </div>
        </div>
      </section>

      <!--===== ABOUT =====-->
      <section class="about section" id="about">
        <h2 class="section-title">About</h2>

        <div class="about__container bd-grid">
          <div class="about__img">
            <img src="../public/img/m3.jpg" alt="" />
          </div>

          <div>
            <h2 class="about__subtitle">We are Kaushal Marbles</h2>
            <p class="about__text">
              We are manufacturer of Banswara Marble slabs,tiles, bote(pillar)
              marble table top(rounds) costers../publicetc We manufacture products in
              differents shape and sizes according to consumer required
              Thickness available in 10mm,15mm,20mm,30mm etc Established in 1989
              year
            </p>
          </div>
        </div>
      </section>

      <!--===== SKILLS =====-->
      <section class="skills section" id="products">
        <h2 class="section-title">Products</h2>

        <div class="skills__container bd-grid">
          <div>
            <h2 class="skills__subtitle">Product Category</h2>
            <p class="skills__text">
              Our product ranges from slabs to minute marble articles like
              coasters
            </p>
            <div class="skills__data">
              <div class="skills__names">
                <i class="bx bx-library skills__icon"></i>
                <span class="skills__name">Slabs</span>
              </div>
              <div class="skills__bar skills__html"></div>
              <div>
                <span class="skills__percentage"></span>
              </div>
            </div>
            <div class="skills__data">
              <div class="skills__names">
                <i class="bx bxs-cuboid skills__icon"></i>
                <span class="skills__name">Pillars</span>
              </div>
              <div class="skills__bar skills__css"></div>
              <div>
                <span class="skills__percentage"></span>
              </div>
            </div>
            <div class="skills__data">
              <div class="skills__names">
                <i class="bx bxs-category skills__icon"></i>
                <span class="skills__name">Tiles</span>
              </div>
              <div class="skills__bar skills__js"></div>
              <div>
                <span class="skills__percentage"></span>
              </div>
            </div>
            <div class="skills__data">
              <div class="skills__names">
                <i class="bx bx-carousel skills__icon"></i>
                <span class="skills__name">Articles</span>
              </div>
              <div class="skills__bar skills__ux"></div>
              <div>
                <span class="skills__percentage"></span>
              </div>
            </div>
          </div>

          <div style="padding:20px;padding-top:70px">
            <img src="../public/img/marble4.jpeg" alt="" style="width: 500px; box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;margin:10px; height: 350px;" class="skills__img" />
          </div>
        </div>
      </section>

      
      <!--Gallery -->
      <section class="skills section" id="portfolio">
        <h2 class="section-title">Products</h2>
        <div id="myBtnContainer">
          <div class="text-center">
            <button class="btn btn_filter" onclick="filterSelection('Blocks')">
              Blocks
            </button>
            <button class="btn btn_filter" onclick="filterSelection('Pillars')">
              Pillars/Bote
            </button>
            <button class="btn btn_filter" onclick="filterSelection('Tiles')">
              Tiles
            </button>
            <button
              class="btn btn_filter"
              onclick="filterSelection('Articles')"
            >
              Articles
            </button>
          </div>
        </div>

        <!-- Portfolio Gallery Grid -->
        <div class="container" style="padding:30px;box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;">
        <div class="row">
          <div class="col-lg-4 column Blocks">
            <div class="content">
              <img src="../public/img/Block1.JPG" alt="" style="width: 500px; box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;margin:10px; height: 350px;" />
            </div>
          </div>
          <div class="col-lg-4 column Blocks">
            <div class="content">
              <img src="../public/img/block2.JPG" alt="" style="width: 500px; box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;margin:10px; height: 350px;" />
            </div>
          </div>
          <div class="col-lg-4 column Blocks">
            <div class="content">
              <img src="../public/img/block3.JPG" alt="" style="width: 500px; box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;margin:10px; height: 350px;" />
            </div>
          </div>
          <div class="col-lg-4 column Blocks">
            <div class="content">
              <img src="../public/img/block4.jpg" alt="" style="width: 500px; box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;margin:10px; height: 350px;" />
            </div>
          </div>
          <div class="col-lg-4 column Blocks">
            <div class="content">
              <img src="../public/img/block5.JPG" alt="" style="width: 500px; box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;margin:10px; height: 350px;" />
            </div>
          </div>
          <div class="col-lg-4 column Blocks">
            <div class="content">
              <img src="../public/img/block6.jpg" alt="" style="width: 500px; box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;margin:10px; height: 350px;" />
            </div>
          </div>
          <div class="col-lg-4 column Blocks">
            <div class="content">
              <img src="../public/img/block7.jpg" alt="" style="width: 500px; box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;margin:10px; height: 350px;" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 column Pillars">
            <div class="content">
              <img src="../public/img/pillar1.jpg" alt="" style="width: 500px; box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;margin:10px; height: 350px;" />
            </div>
          </div>
          <div class="col-lg-4 column Pillars">
            <div class="content">
              <img src="../public/img/pillar2.jpg" alt="" style="width: 500px; box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;margin:10px; height: 350px;" />
            </div>
          </div>
          <div class="col-lg-4 column Pillars">
            <div class="content">
              <img src="../public/img/pillar3.JPG" alt="" style="width: 500px; box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;margin:10px; height: 350px;" />
            </div>
          </div>
          <div class="col-lg-4 column Pillars">
            <div class="content">
              <img src="../public/img/pillar4.JPG" alt="" style="width: 500px; box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;margin:10px; height: 350px;" />
            </div>
          </div>
          <div class="col-lg-4 column Pillars">
            <div class="content">
              <img src="../public/img/pillar5.JPG" alt="" style="width: 500px; box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;margin:10px; height: 350px;" />
            </div>
          </div>
          </div>
          <div class="row">
            <div class="col-lg-4 column Tiles">
                <div class="content">
                  <img src="../public/img/tiles1.JPG" alt="" style="width: 500px; box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;margin:10px; height: 350px;" />
                </div>
              </div>
              <div class="col-lg-4 column Tiles">
                <div class="content">
                  <img src="../public/img/tiles2.jpeg" alt="" style="width: 500px; box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;margin:10px; height: 350px;" />
                </div>
              </div>
              <div class="col-lg-4 column Tiles">
                <div class="content">
                  <img src="../public/img/coaster3.JPG" alt="" style="width: 500px; box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;margin:10px; height: 350px;" />
                </div>
              </div>
          </div>
         
          <div class="row">
            <div class="col-lg-4 column Articles">
                <div class="content">
                  <img src="../public/img/Block1.JPG" alt="" style="width: 500px; box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;margin:10px; height: 350px;" />
                </div>
              </div>
              <div class="col-lg-4 column Articles">
                <div class="content">
                  <img src="../public/img/block2.JPG" alt="" style="width: 500px; box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;margin:10px; height: 350px;" />
                </div>
              </div>
              <div class="col-lg-4 column Articles">
                <div class="content">
                  <img src="../public/img/coaster3.JPG" alt="" style="width: 500px; box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;margin:10px; height: 350px;" />
                </div>
              </div>
          </div>
          
          </div>
          <!-- END GRID -->
      </section>

      <!--===== CONTACT =====-->
      <section class="contact section" id="contact">
        

        <div class="contact__container bd-grid" >
          <h2 class="section-title">Contact Us</h2>
          <form action="/sendemail" class="contact__form" method="POST" style="width:100%;padding:40px;box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">
            <input
              type="text"
              name="name"
              placeholder="Name"
              class="contact__input"
            />
            <input
              type="mail"
              name="email"
              placeholder="Email"
              class="contact__input"
            />
            <textarea
              type="text"
              name="subject"
              id=""
              cols="0"
              rows="10"
              placeholder="Enter Query"
              class="contact__input"
            ></textarea>
            <input type="submit" value="Send" class="contact__button button" />
          </form>
        </div>
      </section>
    </main>

    <!--===== FOOTER =====-->
    <footer class="footer">
      <span class="footer__company"><b class="footer__title">Kaushal Marble</b> Since 1989</span>
      
      <p class="footer__content">Gstin: 08ADTPS0825K1ZY</p>
      <p class="footer__content">Mr. Kaushal Sharma (Chairman) <a href="tel:9414101446">9414101446 </a> <a href="tel:9928126065">9928126065 </a></p>
      <p class="footer__content">Mr. Mohit Sharma <a href="tel:9928126263">9928126263 </a> </p>
      <p class="footer__content">Mr. Linesh Sharma <a href="tel:9024101000">9024101000 </a> </p>
      <a href="tel:+62896706255135"></a>
      <div class="mapouter">
        <div class="gmap_canvas">
          <iframe
            width="300"
            height="300"
            id="gmap_canvas"
            src="https://maps.google.com/maps?q=kaushal%20marble,%20banswara&t=&z=13&ie=UTF8&iwloc=&output=embed"
            frameborder="0"
            scrolling="no"
            marginheight="0"
            marginwidth="0"
          ></iframe
          ><a href="https://123movies-to.org"></a><br /><style>
            .mapouter {
              position: relative;
              text-align: center;
              height: 300px;
              width: 300px;
            }</style
          ><a href="https://www.embedgooglemap.net"
            >adding google map to wordpress</a
          ><style>
            .gmap_canvas {
              overflow: hidden;
              background: none !important;
              height: 300px;
              width: 300px;
            }
          </style>
        </div>
      </div>
      <p class="footer__content">
        Chobisa ka padla ,near Tripura Sundari temple Banswara, (rajasthan)
        327025
      </p>
      <p>&#169; 2021 copyright all right reserved</p>
    </footer>

    <!--===== SCROLL REVEAL =====-->
    <script src="https://unpkg.com/scrollreveal"></script>

    <!--===== MAIN JS =====-->
    <script src="../public/js/main.js"></script>
  </body>
</html>
