<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../css/styles.css" />

    <!-- =====BOX ICONS===== -->
    <link
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
      rel="stylesheet"
    />

    <title>Kaushal Marble</title>
  </head>
  <body>
    <!--===== HEADER =====-->
    <header class="l-header">
      <nav class="nav bd-grid">
        <div>
          <img src="../img/logo.png" class="nav__logo" />
        </div>

        <div class="nav__menu" id="nav-menu">
          <ul class="nav__list">
            <li class="nav__item">
              <a href="#home" class="nav__link active">Home</a>
            </li>
            <li class="nav__item">
              <a href="#about" class="nav__link">About</a>
            </li>
            <li class="nav__item">
              <a href="#products" class="nav__link">Products</a>
            </li>
            <li class="nav__item">
              <a href="#portfolio" class="nav__link">Portfolio</a>
            </li>
            <li class="nav__item">
              <a href="#contact" class="nav__link">Contact</a>
            </li>
          </ul>
        </div>

        <div class="nav__toggle" id="nav-toggle">
          <i class="bx bx-menu"></i>
        </div>
      </nav>
    </header>

    <main class="l-main">
      <!--===== HOME =====-->
      <section class="home bd-grid" id="home">
        <div class="home__data">
          <h1 class="home__title">
            Captivating Style <br />
            <span class="home__title-color">In Every Stone</span>
          </h1>

          <a href="#" class="button lets__start">Lets start!</a>
        </div>

        <div class="home__social">
          <a href="" class="home__social-icon"
            ><i class="bx bxl-facebook"></i
          ></a>
          <a href="" class="home__social-icon"
            ><i class="bx bxl-instagram"></i
          ></a>
          <a href="" class="home__social-icon"><i class="bx bxl-twitter"></i></a>
        </div>

        <div class="home__img">
          <img src="../img/KMHero.gif" alt="" />
        </div>
      </section>

      <!--===== ABOUT =====-->
      <section class="about section" id="about">
        <h2 class="section-title">About</h2>

        <div class="about__container bd-grid">
          <div class="about__img">
            <img src="../img/m3.jpg" alt="" />
          </div>

          <div>
            <h2 class="about__subtitle">We are Kaushal Marbles</h2>
            <p class="about__text">
              We are manufacturer of Banswara Marble slabs,tiles, bote(pillar)
              marble table top(rounds) costers..etc We manufacture products in
              differents shape and sizes according to consumer required
              Thickness available in 10mm,15mm,20mm,30mm etc Established in 1989
              year
            </p>
          </div>
        </div>
      </section>

      <!--===== SKILLS =====-->
      <section class="skills section" id="products">
        <h2 class="section-title">Products</h2>

        <div class="skills__container bd-grid">
          <div>
            <h2 class="skills__subtitle">Product Category</h2>
            <p class="skills__text">
              Our product ranges from slabs to minute marble articles like
              coasters
            </p>
            <div class="skills__data">
              <div class="skills__names">
                <i class="bx bx-library skills__icon"></i>
                <span class="skills__name">Slabs</span>
              </div>
              <div class="skills__bar skills__html"></div>
              <div>
                <span class="skills__percentage"></span>
              </div>
            </div>
            <div class="skills__data">
              <div class="skills__names">
                <i class="bx bxs-cuboid skills__icon"></i>
                <span class="skills__name">Pillars</span>
              </div>
              <div class="skills__bar skills__css"></div>
              <div>
                <span class="skills__percentage"></span>
              </div>
            </div>
            <div class="skills__data">
              <div class="skills__names">
                <i class="bx bxs-category skills__icon"></i>
                <span class="skills__name">Tiles</span>
              </div>
              <div class="skills__bar skills__js"></div>
              <div>
                <span class="skills__percentage"></span>
              </div>
            </div>
            <div class="skills__data">
              <div class="skills__names">
                <i class="bx bx-carousel skills__icon"></i>
                <span class="skills__name">Articles</span>
              </div>
              <div class="skills__bar skills__ux"></div>
              <div>
                <span class="skills__percentage"></span>
              </div>
            </div>
          </div>

          <div>
            <img src="../img/marble4.jpeg" alt="" class="skills__img" />
          </div>
        </div>
      </section>

      <!--===== WORK =====-->
      <section class="work section" id="portfolio">
        <h2 class="section-title">Product Portfolio</h2>

        <div class="work__container bd-grid">
          <div class="work__img">
            <img src="../img/marble1.jpeg" alt="" />
          </div>
          <div class="work__img">
            <img src="../img/marble2.jpg" alt="" />
          </div>
          <div class="work__img">
            <img src="../img/marble3.jpeg" alt="" />
          </div>
          <div class="work__img">
            <img src="../img/marble4.jpeg" alt="" />
          </div>
          <div class="work__img">
            <img src="../img/marble5.jpeg" alt="" />
          </div>
          <div class="work__img">
            <img src="../img/marble6.jpg" alt="" />
          </div>
          <div class="work__img">
            <img src="../img/marble7.jpg" alt="" />
          </div>
          <div class="work__img">
            <img src="../img/pillar1.jpg" alt="" />
          </div>
          <div class="work__img">
            <img src="../img/pillar2.jpg" alt="" />
          </div>
          <div class="work__img">
            <img src="../img/pillar3.JPG" alt="" />
          </div>
          <div class="work__img">
            <img src="../img/pillar4.JPG" alt="" />
          </div>
          <div class="work__img">
            <img src="../img/pillar5.JPG" alt="" />
          </div>
          <div class="work__img">
            <img src="../img/coaster1.jpeg" alt="" />
          </div>
          <div class="work__img">
            <img src="../img/coaster2.jpeg" alt="" />
          </div>
          <div class="work__img">
            <img src="../img/coaster3.JPG" alt="" />
          </div>
          <div class="work__img">
            <img src="../img/Block1.JPG" alt="" />
          </div>
          <div class="work__img">
            <img src="../img/block2.JPG" alt="" />
          </div>
        </div>
      </section>

      <!--===== CONTACT =====-->
      <section class="contact section" id="contact">
        <h2 class="section-title">Contact Us</h2>

        <div class="contact__container bd-grid">
          <form action="/sendemail" class="contact__form" method="POST">
            <input
              type="text"
              name="name"
              placeholder="Name"
              class="contact__input"
            />
            <input
              type="mail"
              name="email"
              placeholder="Email"
              class="contact__input"
            />
            <textarea
              type="text"
              name="subject"
              id=""
              cols="0"
              rows="10"
              placeholder="Enter Query"
              class="contact__input"
            ></textarea>
            <input type="submit" value="Send" class="contact__button button" />
          </form>
        </div>
      </section>
    </main>

    <!--===== FOOTER =====-->
    <footer class="footer">
      <p class="footer__title">Kaushal Marbles</p>
      <p class="footer__content">
        Chobisa ka padla ,near Tripura Sundari temple Banswara, (rajasthan)
        327025
      </p>
      <p class="footer__content">Gstin: 08ADTPS0825K1ZY</p>
      <div class="footer__social">
        <a href="#" class="footer__icon"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="footer__icon"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="footer__icon"><i class="bx bxl-twitter"></i></a>
      </div>
      <div class="mapouter">
        <div class="gmap_canvas">
          <iframe
            width="300"
            height="300"
            id="gmap_canvas"
            src="https://maps.google.com/maps?q=kaushal%20marble,%20banswara&t=&z=13&ie=UTF8&iwloc=&output=embed"
            frameborder="0"
            scrolling="no"
            marginheight="0"
            marginwidth="0"
          ></iframe
          ><a href="https://123movies-to.org"></a><br /><style>
            .mapouter {
              position: relative;
              text-align: center;
              height: 300px;
              width: 300px;
            }</style
          ><a href="https://www.embedgooglemap.net"
            >adding google map to wordpress</a
          ><style>
            .gmap_canvas {
              overflow: hidden;
              background: none !important;
              height: 300px;
              width: 300px;
            }
          </style>
        </div>
      </div>
      <p>&#169; 2021 copyright all right reserved</p>
    </footer>

    <!--===== SCROLL REVEAL =====-->
    <script src="https://unpkg.com/scrollreveal"></script>

    <!--===== MAIN JS =====-->
    <script src="../js/main.js"></script>
  </body>
</html>
